*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #14181C;
    color: #fff;
}
.head-sec{
    display: flex;
}
.info{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
    
}
.info h1{
    padding: 7px 0 10px 10px;
    
}
#title{
    font-size: 2.1rem;
    border-left: 3px solid #00B020;
    border-radius: 2px;
    border-image-slice: 5%;
    
}
.brand-color{
    color: #EB984E;
}
.info p{
    font-size: 20px;
    margin-bottom: 22px;
    margin-top: 22px;
}
#title-img{
    width: 500px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#00B020, #2ECC71);
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    border-radius: 5px;
}