*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #2C3440;
    color: #FDFEFE;
}
/* Information Section Start */
.head-sec{
    display: flex;
}
.info{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
    
}
.info h1{
    padding: 7px 0 10px 10px;
    font-weight: bolder;
    
}
#title{
    font-size: 2.3rem;
    border-left: 3px solid #00B020;
    border-radius: 2px;
    border-image-slice: 5%;
    
}
.info p{
    font-size: 20px;
    margin-bottom: 22px;
    margin-top: 22px;
}
#title-img{
    width: 55%;

}
/* Information Section End */
.btn{
    text-decoration: none;
    background-image: linear-gradient(#00B020, #2ECC71);
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    border-radius: 5px;
}
.brand-color{
    color: #EB984E;
}
/* Strategy Section Start */
.strategy h2{
    text-align: center;
    font-size: 40px;
    margin: 3% 0;
}
.strategy-list{
    display: flex;
    justify-content: center;
}
.strategy-plan{
    
    margin: 15px;
    max-width: 20%;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}
#mission{
    background-color: #ABEBC6;
}
#vision{
    background-color: #AED6F1;
}
#goals{
    background-color: #F2D7D5;
}
.strategy-plan img{
    width: 60%;
    padding-left: 25px;
}
.strategy-plan p{
    text-align: justify;
}
.strategy-plan h3{
    font-size: 35px;
}
/* Strategy Section End */

/* Fotter section Start */
footer{
    text-align: center;
    background-color: black;
    padding: 50px;
}
footer h2{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
footer span{
    color: #00B020;
}
/* Fotter section End */