* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #2c3440;
    color: #fdfefe;
}
/* Information Section Start */
.head-sec {
    display: flex;
    align-items: center;
}
.info {
    width: 50%;
    margin-left: 10%;
    margin-top: 7%;
}
.info h1 {
    padding: 7px 0 10px 10px;
    font-weight: bolder;
}

#title {
    font-size: 2.3rem;
    border-left: 4px solid #e74c3c;
    border-radius: 3px;
    display: grid;
}
#title h1:first-child {
    margin-top: -26px;
}
#title h1:last-child {
    margin-bottom: -30px;
}
.info p {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#title-img {
    width: 67%;
}
/* Information Section End */
.btn {
    text-decoration: none;
    background-image: linear-gradient(#c0392b, #d98880);
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    border-radius: 5px;
}
.brand-color {
    color: #fe7622;
}
/* Strategy Section Start */
.strategy h2 {
    text-align: center;
    font-size: 40px;
    margin: 3% 0;
}
.strategy-list {
    display: flex;
    justify-content: center;
}
.strategy-plan {
    margin: 15px;
    max-width: 26%;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}
#mission {
    background-color: #21618c;
}
#vision {
    background-color: #ec7063;
}
#goals {
    background-color: #ac79bb;
}
.strategy-plan img {
    width: 70%;
    padding-left: 25px;
}
.strategy-plan p {
    text-align: justify;
}
.strategy-plan h3 {
    font-size: 35px;
}
/* Strategy Section End */
/* Dev Section Start */
.dev {
    display: flex;
}
.dev-info {
    width: 50%;
    margin: 5% 0;
}
.dev-info img {
    max-width: 70%;
    margin-left: 18%;
    border-radius: 25px;
}
.dev-info h2 {
    font-size: 34px;
    font-weight: bolder;
    padding: 5px;
}
.dev-info p {
    margin: 30px 0;
    width: 80%;
}
#info-dev {
    margin-top: 9%;
}
/* Dev Section End */
/* Pro Section Start */
.pro {
    display: flex;
}
.pro-info {
    width: 50%;
    margin: 5% 0 5% 9%;
    /* margin-top: 5%;
    margin-left: ; */
}
.pro-img {
    width: 70%;
    margin: 3% 5% 5% 9%;
}
.pro-img img {
    width: 70%;
    margin-left: 18%;
    /* height: 130%;  */
    border-radius: 25px;
}
.pro-info h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}
.pro-info p {
    margin: 30px 0;
    width: 140%;
    text-align: justify;
}
/* Pro Section End  */
.exp {
    display: flex;
    text-align: center;
    margin: 3% 5% 5% 9%;
}
.exp h2 {
    font-size: 35px;
    color: #fe7622;
    margin-top: 4%;
}
.exp-list {
    margin-left: 5%;
    text-align: left;
    box-shadow: 10px 10px 30px tomato;
    padding: 20px;
    border-radius: 10px;
}
.exp-list h4 {
    margin-left: -2%;
    padding: 10px;
    font-size: 20px;
}
.exp-list h6 {
    margin-left: -2%;
    padding: 10px;
    font-size: 15px;
}
/* Fotter section Start */
footer {
    text-align: center;
    background-color: black;
    padding: 50px;
}
footer h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
footer span {
    color: #e74c3c;
}
/* Fotter section End */
